/* Reset some default styles */
body, h1, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f8fb;
    color: #333;
}

.container {
    max-width: 800px;
    margin: 75px auto 20px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}


p {
    margin-bottom: 15px;
}

.social-media {
    list-style-type: none;
    padding: 0;
}

.social-media li {
    margin-bottom: 10px;
    color: #333;
}

a {
    color: #3498db;
}

a:hover {
    text-decoration: underline;
}
